@font-face {
  font-family: "WixMadeforText";
  font-weight: 400;
  src: url("../assets/fonts/WixMadeforText-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "WixMadeforText";
  font-weight: 500;
  src: url("../assets/fonts/WixMadeforText-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "WixMadeforText";
  font-weight: 600;
  src: url("../assets/fonts/WixMadeforText-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "WixMadeforText";
  font-weight: 700;
  src: url("../assets/fonts/WixMadeforText-Bold.ttf") format("truetype");
}
