@font-face {
  font-family: "Besley";
  font-weight: 400;
  src: url("../assets/fonts/Besley-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Besley";
  font-weight: 500;
  src: url("../assets/fonts/Besley-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Besley";
  font-weight: 600;
  src: url("../assets/fonts/Besley-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "Besley";
  font-weight: 700;
  src: url("../assets/fonts/Besley-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Besley";
  font-weight: 800;
  src: url("../assets/fonts/Besley-ExtraBold.ttf") format("truetype");
}

@font-face {
  font-family: "Besley";
  font-weight: 000;
  src: url("../assets/fonts/Besley-Black.ttf") format("truetype");
}
